/*insert custom css below*/


body {
  padding-top: 80px;
}

.heading {
  top:0px;
  left:0px;
  width:100%;
  position:fixed;
  border-bottom: 2px solid #222;
  padding: 0 20px;
}

.footer {
  position:fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 0 20px;
  border-top: 2px solid #eee;
}


.heading h1 {
  margin: 10px 0;
}


.box {
  float:left;
  width: 32%;
  margin-right: 1%;
  margin-bottom: 100px;
  padding: 2.5%;
}

.box:last-child {
}

.box h2 {
}

.box img {
  border: 10px solid #3f0;
  width:100%;
}

.box a.read-more {
  display:block;
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
